@media (min-width: 576px) {
    .title-card {
        text-align: center;
    }
    .bcg-img-05, .bcg-img-06, .bcg-img-07, .bcg-img-08, .bcg-img-09, .bcg-img-10, .bcg-img-11, .bcg-img-12 {
        min-height: 200px;
        min-width: 260px;
    }
    .bcg-img > div {
        flex: 1 0 50%;
    }
    .advantages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0 30px 0;
        gap: 10px;
    }
    .cards {
        width: 250px;
    }
    
}
@media (min-width: 768px) {
    .container {
        padding: 15px 0;
    }
    #menu__toggle:checked ~ .menu__box {
        top: 0;
    }
    #menu__toggle {
        display: none;
    }
    .menu__btn {
        display: none;
    }
    .menu__box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0;
        width: 450px;
        height: 100px;
        background-color: white;
        box-shadow: none;
    }

    main {
        display: flex;
        height: 600px;
        align-items: center;
    }
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px 40px 50px 20px;
    }
    fieldset {
        margin-top: 0;
    }
    .main-title {
        margin-top: 20px;
        width: 300px;
    }
    h1, h4 {
        text-align: left;
    }
    h1 {
        font-size: 38px;
        margin: 0;
        line-height: 52px;
    }
    h4 {
        font-size: 20px;
        padding: 28px 120px 0 0;
    }

    h2 {
        margin: 100px 0 0 0;
        font-size: 30px;
    }
    h3 {
        margin: 14px 0 60px 0;
        font-size: 34px;
    }
    .supercard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        min-width: 730px;
        right: 0px;
        gap: 30px;
        margin-bottom: 180px;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 350px;
        min-height: 400px;
        gap: 10px;
    }

    .foto {
        height: 100%;
    }
    .card-title {
        margin: 30px 24px 10px 20px;
        width: 250px;
    }
    .title-card {
        line-height: 24px;
        text-align: start;
    }
    .cards .title-card-white {
        text-align: center;
    }
    .subtitle-card {
        font-size: 15px;
        line-height: 22px;
    }

    .bcg-img {
        min-height: 280px;
    }
    .bcg-img-05, .bcg-img-06, .bcg-img-07, .bcg-img-08, .bcg-img-09, .bcg-img-10, .bcg-img-11, .bcg-img-12 {
        min-height: 120px;
        min-width: 160px;
    }
    .bcg-img > div {
        flex: 1 0 25%;
    }

    .about {
        display: flex;  
        justify-content: center;
        align-items: center;
        min-height: 550px;
        gap: 90px;
    }
    .aboutus {
        width: 300px;
    }
    .us {
        margin: 0;
    }
    .carousel {
        width: 300px;
    }
    .advantages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        margin: 100px 0;
        gap: 40px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: block;
        margin: 10px 0 30px 0;
        width: 150px;
    }
    .title-card-white {
        padding: 0;
    }
    .subtitle-card-white {
        padding: 5px;
        margin: 20px 0 0 0;
    }

    .prices {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin: 35px 0;   
    }
    .prices-card {
        width: 340px;
        min-height: 490px;
    }
    .card-header {
        height: 150px;
        font-size: 70px;
    }
    sup {
        top: 0px;
        right: 15px;
        font-size: 34px;
    }
    sub {
        top: 20px;
        left: 10px;
        font-size: 22px;
    }
    .card-content {
        font-size: 20px;
        font-weight: 600;
    }
    
    .footer-span {
        display: inline;
    }
    .footer {
        height: 500px;
        margin: 90px 0 0 0;
    }
    .footer-about > .subtitle-card-white {
        margin: 50px 0 10px 0;
        padding: 0;
    }
    .contact-padding {
        display: inline-block;
        position: relative;
        width: 200px;
        /* padding: 0 70px; */
    }
    .icon-location, .icon-phone {
        position: relative;
        bottom: 20px;
    }
    .footer-contact{
        display: block;
    }
    .footer__social {
        display: flex;
        margin-top: 10px;
        gap: 20px;
    }
    .footer__social-item > span {
        display: block;
        position: relative;
        border-radius: 50%;
        font-size: 22px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        height: 150px;
        margin-top: 40px;
    }
    .footer__info {
        width: 350px;
        height: 50px;
        color: white;
    }
    .footer__addr {
        display: inline;
    }
    .footer__phone, .footer__addr {
        display: inline;
        position: relative;
        left: 20px;
    }
    .footer__info > a,
    .contact-padding > a,
    .footer__social > a {
        text-decoration: none;
        color: white;
    }
    .footer__social .icon-linkedin2, .icon-twitter, .icon-facebook {
        text-decoration: none;
        color: rgba(80, 101, 220, .9);
        background-color: white;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        text-align: center;
        
    }
    .icon-linkedin2:before {
        content: "\eaca";
        position: relative;
        font-size: 14px;
        bottom: 5px;
    }
    .icon-twitter:before,
    .icon-facebook:before {
        position: relative;
        font-size: 14px;
        bottom: 5px;
    }

    .footer-copyright {
        font-size: 18px;
        color: #bebebed7;
    }
}

@media (min-width: 992px) {
    .main {
        width: 800px;
        margin: 50px 100px;
    }
    .bcg-img-05, .bcg-img-06, .bcg-img-07, .bcg-img-08, .bcg-img-09, .bcg-img-10, .bcg-img-11, .bcg-img-12 {
        min-height: 240px;
        min-width: 280px;
    }
    .bcg-img > div {
        flex: 1 0 33%;
    }
    .advantages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0 30px 0;
        gap: 20px;
    }
    .cards {
        width: 250px;
    }
    .about {
        display: flex;  
        justify-content: center;
        align-items: center;
        min-height: 550px;
        gap: 90px;
        margin: 0 20px;
    }
    .aboutus {
        width: 400px;
    }
    .w-100 {
        height: 200px;
    }
    .carousel-control-prev, .carousel-control-next {
        top: 80px;
    }
    .carousel {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .main {
        margin: 50px auto;
    }

    .card {
        width: 500px;
    }
    .card-title {
        margin: 20px 20px 10px 20px;
        width: 250px;
        height: 250px;
    }
    .subtitle-card {
        margin-top: 20px;
    }
    p {
        margin-top: 20px;
    }
    .bcg-img > div {
        flex: 1 0 25%;
    }
}
@media (min-width: 1400px) {
    .container {
        padding: 15px 50px;
    }
    .menu__box {
        top: 0;
        right: 60px;
        width: 500px;
    }
    .main {
        width: 865px;
        margin: 0 150px 20px 270px;
        align-items: start;
    }
    .main-title {
        width: 480px;
    }
    .br-max {
        display: inline;
    }
    h1 {
        font-size: 48px;
        margin: 50px 0;
        line-height: 60px;
    }
    h4 {
        padding: 0 220px 0 0 ;
        font-size: 26px;
        line-height: 40px;
    }

    .card {
        width: 570px;
        min-height: 300px;
    }
    .card-title {
        margin: 20px 20px 10px 20px;
        width: 250px;
    }
    .bcg-img {
        min-height: 500px;
    }

    .title-card {
        margin-top: 20px;
    }
    .foto {
        width: 270px;
    }
    .about {
        min-height: 620px;
        gap: 120px;
    }
    .aboutus {
        margin-bottom: 100px;
        padding: 20px;
        width: 500px;
        
    }
    .carousel {
        margin: 30px auto;
        width: 550px;
    }
    .w-100 {
        height: 300px;
    }
    .carousel-control-prev, .carousel-control-next {
        top: 125px;
    }
    .advantag {
        height: 800px;
    }
    .advantages {
        margin: 100px 0;
    }
    .cards {
        width: 250px;
    }
    .price {
        background: url(../img/bg-03.jpg) right no-repeat;
    }
    .prices {
        height: 670px;
        align-items: center;
        margin: 0;
    } 
    .prices-card {
        width: 370px;
        min-height: 500px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1100px;
        height: 420px;
        padding: 50px 0 0 0;
        margin: 0;
    }
    .footer-about {
        width: 480px;
        height: 200px;
    }
    .footer-contact {
        width: 500px;
        height: 200px;
    }
    .footer__social {
        margin-top: 0;
    }
    .footer__info {
        font-size: 16px;
    }
    .footer__info > span {
        font-size: 20px;
    }

    .footer__social-item > span {
        font-size: 26px;
        color: white;
    }
    .footer__social .icon-linkedin2, .icon-twitter, .icon-facebook {
        color: white;
        background-color: rgba(80, 101, 220, .9);
        border-radius: 0;
        height: 0px;
        width: 22px;
    }
    .icon-linkedin2:before {
        font-size: 22px;
        bottom: 2px;
    }
    .icon-twitter:before,
    .icon-facebook:before {
        font-size: 22px;
        bottom: 2px;
    }
    .icon-google-plus3:before {
        content: "\ea8b";
    }
    .icon-facebook:before {
        content: "\ea90";
    }
    .icon-twitter:before {
        content: "\ea96";
    }
    .icon-linkedin2:before {
        content: "\ea92";
    }
    .icon-pinterest:before {
        content: "\ead2";
    }
    .order-inst {
        order: 1;
    }
    .order-pint {
        order: -1;
    }


    .footer-copyright {
        height: 100px;
    }
}